header{
    background-color: #fff;
    border-top: 1px solid #c8c8c8;
    .inner{
    width: 1280px;
    margin: 0 auto;
    height: 120px;
    position: relative;
    
    }
    .h1{
        background-image: url($url + "logo.png");
        height: 44px;
        bottom: 0;
        top: 0;
        left: 0;
        margin: auto;
        span {
            position: absolute;
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    }
    .sub-menu{
        position:absolute;
        top:10px;
        right: 0;
        display:flex;
        .menu{
            display: flex;
        }    
        li{
            position: relative;
            &:first-child:before{
                display: none;
            }
            &::before{
                content: " ";
                width: 1px;
                height: 12px;
                background-color:#e5e5e5;
                position:absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
                a{
                    background-color: antiquewhite;
                    font-size: 12px;
                    padding:11px 16px;
                    display: block;
                    color: #656565;
                    &:hover {
                        color:#000;
                    }
                }
            }
            .search{
                position: relative;
                height: 34px;
                &.focused .material-icons{
                    opacity: 0;
                }
                input{
                    width: 36px;
                    height: 34px;
                    padding: 4px 10px;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    border-radius: 5px;
                    outline: none;
                    background-color: #fff;
                    color:#777;
                    transition:width 4s;
                    font-size: 12px;
                    &:focus{
                        width: 190px;
                        border-color: #656565 ;
                    }
                }
                .material-icons{
                    height: 24px;
                    position:absolute;
                    top: 0;
                    bottom: 0;
                    right: 5px;
                    margin:auto;
                    transition:0.4s;
                }
            }
    }
    .main-menu{
        display:flex;
        position:absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        .item{
                .item__name{
                    padding: 10px 20px 34px 20px;
                    font-size: 13px;
                    
                }
                &:hover .item__name{
                    background-color: #2C2A29;
                    color: #669900;
                    border-radius: 6px 6px 0 0;
                }
            .item__contents{
                display: block;
            }
        }
    }
}