.banner{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    height: 764px;
    display: block;
    position: relative;
    .cont{
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%, -50%);
        text-align: center;
        strong{
            font-size: 70px;
            color: #424141;
        }
        p{
            color: #666666;
        }
    }
    img{
        position: absolute;
        left: 50%;
        top: 266px;
        transform:translate(-50%, 266px);
        }
}
/*awards*/



/*content_new*/
.content_new{
    position: relative;
    background-color: #424141;
    img{
        position: absolute;
        left: -10%;
        top:144px;
    }
    h3{
        position: absolute;
        font-size: 47px;
        color: #424141;
        margin-left: 350px;
    }
}
