@charset "utf-8";
$url: "../images/";
/* CSS COMMENT */ //  SASS COMMENT

@import "reset";

.allWrap {
  position: relative;
  min-width: 1280px;
  min-height: 100%;
}

.inner {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

@import "header";
@import "home";
