/* CSS COMMENT */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: 0;
  background: none;
}

body {
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: 1.4;
  font-size: 15px;
}

dd {
  margin: 0;
  padding: 0;
}

button,
fieldset {
  border: 0;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  text-align: left;
  color: #333;
  font-weight: bold;
}

.blind,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.allWrap {
  position: relative;
  min-width: 1280px;
  min-height: 100%;
}

.inner {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  /*BADGES*/
}

header > .inner {
  height: 120px;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub-menu {
  position: absolute;
  top: 10 px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .sub-menu li {
  position: relative;
}

header .sub-menu::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu:first-child::before {
  display: none;
}

header .sub-menu a {
  padding: 11px 16px;
  display: block;
  font-size: 13px;
  color: #656565;
}

header .sub-menu a:hover {
  color: #000;
}

header .sub-menu .search {
  position: relative;
  height: 34px;
}

header .sub-menu .search .focused .material-icons {
  opacity: 0;
}

header .sub-menu .search input {
  width: 36px;
  height: inherit;
  padding: 4px 10px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  -webkit-transition: width .4s;
  transition: width .4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #fec930;
}

header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  -webkit-transition: .4s;
  transition: .4s;
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-menu .item:hover .item__name {
  color: #fe9130;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #ffff;
}

header .main-menu .item .item__contents .contents__menu > ul {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.banner {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  height: 764px;
  display: block;
  position: relative;
}

.banner .cont {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.banner .cont strong {
  font-size: 70px;
  color: #424141;
}

.banner .cont p {
  color: #666666;
}

.banner img {
  position: absolute;
  left: 50%;
  top: 266px;
  -webkit-transform: translate(-50%, 266px);
          transform: translate(-50%, 266px);
}

/*premium*/
.premium .inner {
  padding-left: 20px;
  padding-top: 400px;
}

.premium .inner .text {
  position: absolute;
}

.premium .inner .text h3 {
  font-size: 42px;
  color: #292929;
  padding-bottom: 3px;
}

.premium .inner .text span {
  font-size: 16px;
  color: #6a6a6a;
}

.premium .swiper-container {
  position: relative;
  left: 220px;
  width: 880px;
  height: 430px;
}

.premium .swiper-container img {
  display: block;
}

.premium .swiper-container .swiper-slide p {
  font-size: 14px;
  color: #2c2c2c;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 60px;
}

.premium .swiper-container .swiper-slide strong {
  font-size: 20px;
}

.premium .swiper-container .swiper-slide ul {
  margin-bottom: 20px;
}

.premium .swiper-container .swiper-slide ul li {
  display: inline-block;
  color: #bfbfbf;
  font-size: 13px;
}

/*content_new*/
.content_new {
  position: relative;
}

.content_new img {
  position: absolute;
  left: -25%;
  top: 135px;
}

.content_new .inner {
  padding-left: 350px;
  padding-top: 400px;
}

.content_new .inner h3 {
  font-size: 47px;
  color: #424141;
}

.content_new .inner p {
  font-size: 15px;
  color: #747474;
  padding-top: 65px;
}

.content_new .inner p:last-child {
  padding-top: 0;
}

.content_new .inner ul li {
  display: inline-block;
  padding-left: 110px;
}

.content_new .inner ul li:first-child {
  padding-left: 0;
  padding-top: 70px;
}

.content_new .inner ul li a {
  color: #373737;
}

.content_new .swiper-prev {
  width: 100%;
  height: 40px;
}

/*best*/
.content_best .inner {
  padding-top: 360px;
}

.content_best .inner h3 {
  text-align: center;
  font-size: 34px;
  padding-bottom: 100px;
}

.content_best .inner ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.content_best .inner ul .best_text {
  margin-top: 25px;
}

.content_best .inner ul .best_text strong {
  color: #1d1d1d;
  font-size: 18px;
}

.content_best .inner ul .best_text p {
  color: #7b7b7b;
  margin-top: 20px;
  margin-bottom: 70px;
}

/*banner*/
.content_banner {
  margin-bottom: 150px;
  background-image: url("../images/banner_01.png");
  height: 786px;
  background-attachment: fixed;
}

.content_banner .font {
  text-align: center;
  padding-top: 266px;
}

/*content_magazine*/
.content_magazine h3 {
  text-align: center;
  font-size: 34px;
}

.content_magazine p {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 85px;
}

.content_magazine ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-bottom: 160px;
}

/*content_home*/
.content_home .home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.content_home .home .text {
  padding-top: 25%;
}

.content_home .home .text strong {
  color: #292929;
  font-size: 32px;
}

.content_home .home .text p {
  color: #626262;
  margin-top: 30px;
}

.content_home ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 140px;
}

.content_home ul li img {
  margin-bottom: 45px;
}

.content_home ul li strong {
  color: #292929;
}
/*# sourceMappingURL=style.css.map */